<% flash.each do |type, msg| %>
  <div class='notice error'>
    <%= msg[1][0] %>
  </div>
<% end %>
<div class='cover_image'>
  <%= image_tag('cover_image.jpg') %>
</div>
<div class='box'></div>
<div class='info'>
  <div class='avatar'>
    <%= image_tag('avatar_profile.jpg') %>
  </div>
  <div class='avatar_box'></div>
  <div class='relation'>
    <h3><%= @user.name %></h3>
    <div class='count_friend'><%= @user.friends.count %> bạn bè • <%= @common_friends.count %> bạn chung</div>

  </div>
  <div class='button_wrap'>
    <% if !@relation %>
      <%= button_to 'Thêm bạn bè', relations_path, params: { relation: { receiver_id: @user.id } } %>
    <% elsif @relation.relation_type === 'friend' %>
      <button class='friend_drop'>Bạn bè</button>
    <% elsif @relation.sender_id === current_user.id %>
      <%= button_to 'Hủy lời mời', relation_path(@relation.id), method: :delete %>
    <% else %>
      <button class='res_fr_drop'>Phản hồi</button>
    <% end %>
  </div>
  <% if @relation %>
    <div id='resFriendDropdown' class='friend_dropdown'>
      <%= button_to 'Chấp nhận kết bạn', relation_path(@relation.id), params: { relation: { relation_type: 'friend' } }, method: :patch %>
      <%= button_to 'Xóa lời mời kết bạn', relation_path(@relation.id), method: :delete %>
    </div>
    <div id='friendDropdown' class='friend_dropdown'>
      <%= button_to 'Hủy kết bạn', relation_path(@relation.id), method: :delete %>
    </div>
  <% end %>
</div>
<div class='line'></div>
<div class='tool'>
  <h2>Bài viết</h2>
  <button><h2>Bộ lọc</h2></button>
</div>
<div class='line'></div>
<div class='post'>
  <% @posts.each do |post| %>
    <div class='post_item'>
      <div class='title'>
        <div class='avatar'>
          <%= image_tag('post1.jpg') %>
        </div>
        <div class='auth'>
          <h5 class='user_name'><%= post.user.email %></h5>
          <div class='regime'><%= post.created_at && time_ago_in_words(post.created_at) %> ago</div>
        </div>
        <div class='tool'>
          <div class='item'>
            <%= image_tag('dot-menu-more-2-svgrepo-com.svg') %>
          </div>
        </div>
      </div>
      <div class='text'>
        <%= post.text %>
      </div>
      <div class='content'>
        <%= post.content_url && image_tag(post.content_url) %>
      </div>
      <div class='view'>
        <%# <%= image_tag('like-svgrepo-com.svg') %>
        <div class='item'>
          <%= image_tag('like-svgrepo-com.svg') %>
          <div class='number_react'>
            10
          </div>
        </div>
        <div class='item'>
          <div class='number_comment'>
            10
          </div>
          <div class='comment'>
            bình luận
          </div>
        </div>
        <div class='item'>
          <div class='number_share'>10</div>
          <div class='share'>lượt chia sẻ</div>
        </div>
      </div>
      <div class='line'>
      </div>
      <div class='tool'>
        <div class='item'>
          <%= image_tag('like-svgrepo-com.svg') %>
          <div class='number_react'>
            Thích
          </div>
        </div>
        <div class='item'>
          <%= image_tag('chat-square-svgrepo-com.svg') %>
          <div class='comment'>
            Bình luận
          </div>
        </div>
        <div class='item'>
          <%= image_tag('share-svgrepo-com.svg') %>
          <div class='share'>Chia sẻ</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
