<div id="post_modal" class="modal">
  <div class="modal-content">
    <span class="close close_post_modal">&times;</span>
    <div class="title">
      <strong><%= t "share.create_post" %></strong>
    </div>
    <%= render layout: "users/item", locals: { user: current_user } do %>
    <% end %>
    <%= form_with model: post, local: local do |form| %>
      <%= form.label t("share.add_post_mode") %>
      <%= form.select :mode, Post.modes.keys.collect {|mode| [t("post_mode.#{mode}"), mode]}, value: post.mode %>
      <%= form.text_area(:text, placeholder: t("share.write"), value: post.text) %>
      <%= form.hidden_field :group_id, value: post.group_id %>
      <div id="contents">
        <%= form.fields_for :contents do |content| %>
          <%= render 'content_fields', f: content %>
        <% end %>
        <div class="links">
          <%= link_to_add_association t("share.add_content"), form, :contents %>
        </div>
      </div>
      <button class="button_wrap" type="submit">Đăng</button>
    <% end %>
  </div>
</div>
