<% @friends.each do |f| %>
  <%= f.id %>
<% end %>

<div class="tag">
  <h2>Những người bạn có thể biết</h2>
  <button>Xem tất cả</button>
</div>
<div class="row">
  <div class="item">
    <%= image_tag('avatar_profile.jpg') %>
    <h3 class="name">Đoàn Thi Nguyên</h3>
    <div>25 bạn chung</div>
    <button>Thêm bạn bè</button>
    <button>Xóa, gỡ bỏ</button>
  </div>
  <div class="item">
    <%= image_tag('avatar_profile.jpg') %>
    <h3 class="name">Đoàn Thi Nguyên</h3>
    <div>25 bạn chung</div>
    <button>Thêm bạn bè</button>
    <button>Xóa, gỡ bỏ</button>
  </div>
  <div class="item">
    <%= image_tag('avatar_profile.jpg') %>
    <h3 class="name">Đoàn Thi Nguyên</h3>
    <div>25 bạn chung</div>
    <button>Thêm bạn bè</button>
    <button>Xóa, gỡ bỏ</button>
  </div>
</div>
<div class="row">
  <div class="item">
    <%= image_tag('avatar_profile.jpg') %>
    <h3 class="name">Đoàn Thi Nguyên</h3>
    <div>25 bạn chung</div>
    <button>Thêm bạn bè</button>
    <button>Xóa, gỡ bỏ</button>
  </div>
  <div class="item">
    <%= image_tag('avatar_profile.jpg') %>
    <h3 class="name">Đoàn Thi Nguyên</h3>
    <div>25 bạn chung</div>
    <button>Thêm bạn bè</button>
    <button>Xóa, gỡ bỏ</button>
  </div>
  <div class="item">
    <%= image_tag('avatar_profile.jpg') %>
    <h3 class="name">Đoàn Thi Nguyên</h3>
    <div>25 bạn chung</div>
    <button>Thêm bạn bè</button>
    <button>Xóa, gỡ bỏ</button>
  </div>
</div>

<div class="row">
  <div class="item">
    <%= image_tag('avatar_profile.jpg') %>
    <h3 class="name">Đoàn Thi Nguyên</h3>
    <div>25 bạn chung</div>
    <button>Thêm bạn bè</button>
    <button>Xóa, gỡ bỏ</button>
  </div>
  <div class="item">
    <%= image_tag('avatar_profile.jpg') %>
    <h3 class="name">Đoàn Thi Nguyên</h3>
    <div>25 bạn chung</div>
    <button>Thêm bạn bè</button>
    <button>Xóa, gỡ bỏ</button>
  </div>
  <div class="item">
    <%= image_tag('avatar_profile.jpg') %>
    <h3 class="name">Đoàn Thi Nguyên</h3>
    <div>25 bạn chung</div>
    <button>Thêm bạn bè</button>
    <button>Xóa, gỡ bỏ</button>
  </div>
</div>
