<div class="_item">
  <%= image_tag('home-filled-svgrepo-com.svg') %>
  <div>Trang chủ</div>
</div>
<div class="_item">
  <%= image_tag('avatar-svgrepo-com.svg') %>
  <div>Lời mời kết bạn</div>
</div>
<div class="_item">
  <%= image_tag('friend-3-svgrepo-com.svg') %>
  <div>Gợi ý</div>
</div>
<div class="_item">
  <%= image_tag('mark-2-svgrepo-com.svg') %>
  <div>Tất cả bạn bè</div>
</div>
<div class="_item">
  <%= image_tag('post-sign-message-svgrepo-com.svg') %>
  <div>Sinh nhật</div>
</div>
<div class="_item">
  <%= image_tag('video-streaming-svgrepo-com.svg') %>
  <div>Danh sách tùy chỉnh</div>
</div>
