<div class="setting">
  <h1>Bạn bè</h1>
  <div class="img_wrap"><%= image_tag('setting-svgrepo-com.svg') %></div>
</div>
<div class="item">
  <%= image_tag('home-filled-svgrepo-com.svg') %>
  <div>Trang chủ</div>
</div>
<div class="item">
  <%= image_tag('avatar-svgrepo-com.svg') %>
  <div>Lời mời kết bạn</div>
</div>
<div class="item">
  <%= image_tag('friend-3-svgrepo-com.svg') %>
  <div>Gợi ý</div>
</div>
<div class="item">
  <%= image_tag('mark-2-svgrepo-com.svg') %>
  <div>Tất cả bạn bè</div>
</div>
<div class="item">
  <%= image_tag('post-sign-message-svgrepo-com.svg') %>
  <div>Sinh nhật</div>
</div>
<div class="item">
  <%= image_tag('video-streaming-svgrepo-com.svg') %>
  <div>Danh sách tùy chỉnh</div>
</div>
