<div class="item user_item">
  <%= link_to user_path(user.token) do %>
    <div class="user_avatar"><%= user_avatar(user) %></div>
  <% end %>
  <div>
    <%= link_to user_path(user.token) do %>
      <strong><%= user.name %></strong>
    <% end %>
    <%= yield %>
  </div>
</div>
