<div class="create_post">
  <div class="input">
    <%= image_tag('ava1.jpg') %>
    <input id="myBtn" placeholder="Lại Văn ơi, bạn đang nghĩ gì thế?"/>
  </div>
  <div>
    <div class="line"></div>
  </div>
  <div class="tool">
    <div class="item">
      <div>
        <%= image_tag('video-svgrepo-com.svg') %>
        Video trực tiếp
      </div>
    </div>
    <div class="item">
      <div>
        <%= image_tag('image-svgrepo-com.svg') %>
        Ảnh/video
      </div>
    </div>
    <div class="item">
      <div>
        <%= image_tag('emo-sunglasses-svgrepo-com.svg') %>
        Cảm xúc/Hoạt động
      </div>
    </div>
  </div>
</div>
<% @posts.each do |post| %>
  <div class="post_item">
    <div class="title">
      <div class="avatar">
        <%= image_tag('post1.jpg') %>
      </div>
      <div class="auth">
        <h5 class="user_name"><%= post.user.email %></h5>
        <div class="regime"><%= post.created_at && time_ago_in_words(post.created_at) %> ago</div>
      </div>
      <div class="tool">
        <div class="item">
          <%= image_tag('dot-menu-more-2-svgrepo-com.svg') %>
        </div>
      </div>
    </div>
    <div class="text">
      <%= post.text %>
    </div>
    <div class="content">
      <%= post.content_url && image_tag(post.content_url) %>
    </div>
    <div class="view">
      <%# <%= image_tag('like-svgrepo-com.svg') %>
      <div class="item">
        <%= image_tag('like-svgrepo-com.svg') %>
        <div class="number_react">
          10
        </div>
      </div>
      <div class="item">
        <div class="number_comment">
          10
        </div>
        <div class="comment">
          bình luận
        </div>
      </div>
      <div class="item">
        <div class="number_share">10</div>
        <div class="share">lượt chia sẻ</div>
      </div>
    </div>
    <div class="line">
    </div>
    <div class="tool">
      <div class="item">
        <%= image_tag('like-svgrepo-com.svg') %>
        <div class="number_react">
          Thích
        </div>
      </div>
      <div class="item">
        <%= image_tag('chat-square-svgrepo-com.svg') %>
        <div class="comment">
          Bình luận
        </div>
      </div>
      <div class="item">
        <%= image_tag('share-svgrepo-com.svg') %>
        <div class="share">Chia sẻ</div>
      </div>
    </div>
  </div>
<% end %>
<div id="myModal" class="modal">
  <% @a %>
  <div class="modal-content modal_create_post">
    <span class="close" id="close">&times;</span>
    <div class="modal_title">
      <h4>Tạo bài viết</h4>
    </div>
    <div class="auth">
      <div class="user_avatar">
        <%= image_tag('ava1.jpg') %>
      </div>
      <div class="user_name">
        <h5 class="item">
          <%= current_user.email %>
        </h5>
        <button class="item" id="myBtn1">
          <h5 id="_mode">Công khai</h5>
        </button>
      </div>
    </div>
    <%= form_with model: @post do |form| %>
      <%= form.text_area(:text, placeholder: "Lại Văn ơi, bạn đang nghĩ gì thế?" ) %>
      <div id="myModal1" class="modal">
        <div class="modal-content modal_mode">
          <span class="close" id="close1">&times;</span>
          <div class="modal_title">
            <h4>Đối tượng của bài viết</h4>
          </div>
          <div class="text">
            <strong>Ai có thể xem bài viết của bạn?</strong>
            Bài viết của bạn sẽ hiển thị ở Bảng feed, trang cá nhân và kết quả tìm kiếm.
            Tuy đối tượng mặc định là <strong>Bạn bè</strong>, nhưng bạn có thể thay đổi đối tượng của riêng bài viết này.
          </div>
          <label class="radio_btn_wrap">
            <%= image_tag('global-svgrepo-com.svg') %>
            <div class="item">
              Bất kỳ ai
            </div>
            <%= form.radio_button :mode, "global" %>
          </label>
          <label class="radio_btn_wrap">
            <%= image_tag('friend-3-svgrepo-com.svg') %>
            <div class="item">
              Bạn bè
            </div>
            <%= form.radio_button :mode, "only_friend" %>
          </label>
          <label class="radio_btn_wrap">
            <%= image_tag('lock-svgrepo-com.svg') %>
            <div class="item">
              Chỉ mình tôi
            </div>
            <%= form.radio_button :mode, "only_me" %>
          </label>
          <div class="button_wrap">
            <button class="cancel" type="button" id="cancel">Hủy</button>
            <button class="cancel" type="button" id="mode_seleted">Xong</button>
          </div>
        </div>
      </div>
      <div class="upload">
        Thêm vào bài viết của bạn
        <label for="post_content"><%= image_tag('img_icon.png') %></label>
        <%= form.file_field :content, accept:'image/*' %>
      </div>
      <button class="button_wrap" type="submit">Đăng</button>
    <% end %>
  </div>
</div>
