<% be_blocked = current_user.be_blocked(post.id) %>
<% reaction = current_user.reaction(post.id, :Post) %>
<% comments = post.comments.low.includes(:reactions).page %>
<div class="post_card">
  <div id="<%= "post_error_#{post.id}" %>"></div>
  <div>
    <div class="header item">
      <%= render layout: "users/item", locals: { user: post.user } do %>
        <div class="mode"><%= post_created_at(post) %></div>
      <% end %>
      <%= render partial: "posts/menu", locals: { post: post } %>
    </div>
    <div class="text item">
      <%= post.text %>
    </div>
    <div class="content item">
      <%= post_content(post) %>
    </div>
    <div class="action item">
      <div class="item" id="<%= "number_react_post_#{post.id}" %>">
        <%= t("reaction.html",img: image_tag('like-svgrepo-com.svg'), count: post.reactions.size) %>
      </div>
      <div class="item count_comment" id="<%= "number_comment_post_#{post.id}" %>">
        <%= t("comment", count: post.comments.size) %>
      </div>
      <div class="item">
        <div class="number_share">10</div>
        <div class="share"><%= t "share.share" %></div>
      </div>
    </div>
    <div class="line">
    </div>
    <div class="action item">
      <%= render partial: "reactions/item", locals: { reaction_tag_id: "reaction_post_#{post.id}", reaction: reaction, reaction_params: { ta_duty_id: post.id, ta_duty_type: :Post } } %>
      <div class="item">
        <%= image_tag('chat-square-svgrepo-com.svg') %>
        <div class="comment open_comment"><%= t "share.comment" %></div>
      </div>
      <div class="item">
        <%= image_tag('share-svgrepo-com.svg') %>
        <div class="share"><%= t "share.share" %></div>
      </div>
    </div>
  </div>
  <% if post.comment_flag %>
    <% if be_blocked.nil? %>
      <%= render partial: "comments/form", locals: { comment: @new_comment, post_id: post.id, comment_id: nil, file_field_id: "comment_file_post_#{post.id}" } %>
    <% else %>
      <div class="noti"><%= t "comments.save.be_block" %></div>
    <% end %>
  <% else %>
    <div class="noti"><%= t "comments.save.comment_flag_off" %></div>
  <% end %>
  <div id="<%= "new_comment_post_#{post.id}" %>"></div>
  <div class="comments" id="<%= "comment_post_#{post.id}" %>">
    <div class="items"><%= render partial: "comments/card", collection: comments, as: :comment %></div>
    <div id="<%= "pagi_comment_post_#{post.id}" %>">
      <%= paginate comments, params: {controller: 'comments', action: 'index', format: :js, post_id: post.id } %>
    </div>
    <% if comments.next_page.present? %>
      <strong class="load_comment"><%= t "share.see_more" %></strong>
    <% end %>
  </div>
</div>
