<div class="create_post">
  <div class="show_modal_wrap">
    <%= image_tag('ava1.jpg') %>
    <%= button_to new_post_path, method: :get, remote: true do %>
      <input class="input_search" placeholder="<%= t("share.open_form_post", user_name: current_user.name) %>"/>
    <% end %>
  </div>
  <div class="line"></div>
  <div class="tool">
    <div class="item">
      <%= image_tag('video-svgrepo-com.svg') %>
      <%= t "share.live_video" %>
    </div>
    <div class="item">
      <%= image_tag('image-svgrepo-com.svg') %>
      <%= t "share.photo/video" %>
    </div>
    <div class="item">
      <%= image_tag('emo-sunglasses-svgrepo-com.svg') %>
      <%= t "share.emotions/activity" %>
    </div>
  </div>
</div>
