<div class="header_area">
  <div class="left">
    <h1>Rails</h1>
  </div>
  <div class="main">
    <input placeholder="<%= t "share.search" %>" class="input_search"/>
  </div>
  <div class="right">
    <div class="item">
      <%= image_tag("message-square-dots-svgrepo-com.svg") %>
    </div>
    <div class="item">
      <%= image_tag("bell-filled-svgrepo-com.svg") %>
    </div>
    <div class="item">
      <div>
        <div class="show_sign">
          <%= image_tag("avatar-svgrepo-com.svg")%>
        </div>
        <div id="sign" class="drop_down">
          <%= link_to t("share.personal_page"), user_path(current_user.token) %>
          <%= link_to t("share.log_out"), users_sign_out_path, method: :delete %>
          <button class="show_language"><%= t "share.language" %></button>
        </div>
        <div id="language" class="drop_down">
          <%= link_to t("share.english"), locale:"en" %>
          <%= link_to t("share.vietnamese"), locale:"vi" %>
        </div>
      </div>
    </div>
  </div>
</div>
