<div class="header_area">
  <div class="left">
    <h1>Rails</h1>
  </div>
  <div class="main">
    <input placeholder="Tìm kiếm trên Rails" class="input_search"/>
  </div>
  <div class="right">
    <div class="item">
      <%= image_tag("message-square-dots-svgrepo-com.svg") %>
    </div>
    <div class="item">
      <%= image_tag("bell-filled-svgrepo-com.svg") %>
    </div>
    <div class="item">
      <div>
        <div class="show_sign">
          <%= image_tag("avatar-svgrepo-com.svg")%>
        </div>
        <div id="sign" class="drop_down">
          <%= link_to "Trang cá nhân", user_path(current_user.token) %>
          <%= link_to "Đăng xuất", users_sign_out_path, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
