<% notis = current_user.notifications.page.per(5) %>
<div class="header_area">
  <div class="left">
    <h1>Rails</h1>
  </div>
  <div class="main">
    <%= form_with url: search_index_path, method: :get, class: "form_search" do |f| %>
      <%= f.text_field :question, { placeholder: t("share.search"), class: "input_search" } %>
    <% end %>
  </div>
  <div class="right">
    <div class="item">
      <%= image_tag("message-square-dots-svgrepo-com.svg") %>
    </div>
    <div class="item">
      <div>
        <div class="show_noti icon_tool">
          <%= image_tag("bell-filled-svgrepo-com.svg") %>
          <div class="badge" id="count_noti"><%= current_user.notifications.not_viewed.count %></div>
        </div>
        <div id="noti" class="drop_down">
          <%= link_to t("share.see_all"), notifications_path %>
          <%= button_to t("share.read_all"), view_all_notifications_path, method: :patch, remote: true %>
          <div class="notis">
            <div id="new_noti"></div>
            <%= render partial: "notifications/item", collection: notis, as: :noti %>
          </div>
          <div class="pagination_noti">
            <%= paginate notis, params: {controller: 'notifications', action: 'index', format: :js } %>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div>
        <div class="show_sign">
          <%= image_tag("avatar-svgrepo-com.svg")%>
        </div>
        <div id="sign" class="drop_down">
          <%= link_to t("share.personal_page"), user_path(current_user.token) %>
          <%= link_to t("share.log_out"), users_sign_out_path, method: :delete %>
          <a class="show_language"><%= t "share.language" %></a>
        </div>
        <div id="language" class="drop_down">
          <%= link_to t("share.english"), locale:"en" %>
          <%= link_to t("share.vietnamese"), locale:"vi" %>
        </div>
      </div>
    </div>
  </div>
</div>
